@keyframes zoomIn {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.1);
    }
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.header-hero-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.header-hero-mobile,
.header-hero-desktop {
    display: none;
    width: 100%;
    height: auto;
}

.header-hero-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: absolute;
    opacity: 0;
    animation: fadeInUp 0.8s ease-in-out forwards;
    animation-delay: 0.5s;
}

.header-hero-description {
    padding: 0 0 0 1rem;
    margin: 0;
    font-size: 1.2rem;
    color: #FAFAFA;
    opacity: 0;
    animation: fadeInUp 0.8s ease-in-out forwards;
    animation-delay: 1s;
}

.header-hero-title {
    padding: 1rem 0 0 1rem;
    margin: 0;
    font-size: 2rem;
    font-weight: 500;
    color: #FAFAFA;
    width: 68%;
    opacity: 0;
    animation: fadeInUp 0.8s ease-in-out forwards;
    animation-delay: 1.5s;
}

.header-hero-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15rem;
    margin: 2rem 0 0 .5rem;
    padding: 1.15rem 0;
    border: none;
    border-radius: 2rem;
    background-color: #4068e9;
    font-family: "SUSE", sans-serif;
    font-size: 1.2rem;
    font-weight: 500;
    color: #FAFAFA;
    letter-spacing: .02rem;
    cursor: pointer;
    opacity: 0;
    animation: fadeInUp 0.8s ease-in-out forwards;
    animation-delay: 2s;
}

.header-hero-button::after {
    content: '➝';
    margin: 0 0 0 .6rem;
    font-size: 1rem;
    color: #FAFAFA;
}

.header-hero-button:hover {
    background-color: #4068e9e1;
}

@media (max-width: 600px) {
    .header-hero-mobile {
        display: flex;
        animation: zoomIn 10s ease-in-out infinite alternate;
    }

    .header-hero-content {
        margin: 8rem 0 0 0;
    }

    .header-hero-description {
        font-size: 1.1rem;
    }
    
    .header-hero-title {
        font-size: 1.5rem;
        font-weight: 600;
        width: 64%;
    }
    
    .header-hero-button {
        width: 13rem;
        margin: 2rem 0 0 .8rem;
        padding: .9rem 0;
        font-size: 1rem;
        font-weight: 600;
        color: #FAFAFA;
        letter-spacing: .02rem;
    }
    
    .header-hero-button::after {
        content: '➝';
        margin: 0 0 0 .6rem;
        font-size: 1rem;
        color: #FAFAFA;
    }
    
    .header-hero-button:hover {
        background-color: #4068e9e1;
    }

    .header-hero-desktop {
        display: none;
    }
}

@media (min-width: 601px) {
    .header-hero-mobile {
        display: none;
    }

    .header-hero-desktop {
        display: block;
        animation: zoomIn 10s ease-in-out infinite alternate;
    }
}
