/* Mobile-first styles */
.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: fixed;
    transition: top 0.3s;
    z-index: 999;
}

.navbar-container.scrolled {
    background-color: rgba(51, 51, 51, 0.9);
}

.navbar-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.navbar-item {
    display: flex;
    align-items: center;
    margin-right: 1rem;
    color: #fff;
    cursor: pointer;
}

.navbar-item.active {
    font-weight: bold;
}

.nav-item-logo {
    margin: 1rem;
}

.dropdown-toggle {
    display: flex;
    align-items: center;
    color: #fff;
    cursor: pointer;
}

.dropdown-toggle.open {
    font-weight: bold;
}

.hamburger-icon {
    display: block;
    position: relative;
    width: 1.5rem;
    height: .12rem;
    background-color: #fff;
    transition: all 0.3s ease-in-out;
}

.hamburger-icon::before,
.hamburger-icon::after {
    content: '';
    position: absolute;
    width: 1.5rem;
    height: .12rem;
    background-color: #fff;
    transition: all 0.3s ease-in-out;
}

.hamburger-icon::before {
    transform: translateY(-.5rem);
}

.hamburger-icon::after {
    transform: translateY(.5rem);
}

.dropdown-toggle.open .hamburger-icon {
    background-color: transparent;
}

.dropdown-toggle.open .hamburger-icon::before {
    transform: rotate(45deg) translate(-.06rem, -.06rem);
}

.dropdown-toggle.open .hamburger-icon::after {
    transform: rotate(-45deg) translate(.06rem, -.06rem);
}

.dropdown-menu {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding: 1rem;
    background-color: #444;
}

.dropdown-menu div {
    display: block;
    margin-bottom: 0.5rem;
    color: #fff;
    cursor: pointer;
}

.dropdown-menu div:hover {
    color: #ddd;
}

/* Telas maiores */
@media (min-width: 601px) {
    .navbar-container {
        display: none;
    }

    /* .navbar-item {
        margin-right: 1.5rem;
    }

    .dropdown-menu {
        top: 100%;
        right: 0;
        left: auto;
        width: auto;
    } */
}